.dash-side-nav {
    
    section {
        margin-top: 30px;
        h2 {
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
            margin-top: 0px !important;
            display: block !important;
            font-family: Lato, "Noto Sans", sans-serif !important;
            font-weight: 700 !important;
            font-size: 12px !important;
            line-height: 16px !important;
            letter-spacing: 0.6px !important;
            text-transform: uppercase !important;
            color: rgba(33,36,44,0.64) !important;
            margin-bottom: 12px !important;
            margin-left: 24px !important;
        }
        ul {
            li {
                a {
                    background-color: transparent !important;
                    text-decoration: none !important;
                    color: #21242c !important;
                    border-radius: 4px !important;
                    padding-top: 11px !important;
                    padding-bottom: 11px !important;
                    padding-left: 24px !important;
                    border: 1px solid transparent !important;
                    display: block !important;
                    cursor: pointer !important;
                }
            }

            li.active {
                a {
                    font-weight: 700;
                    cursor: pointer !important;
                    background-color: #f7f8fa !important;
                    color: #1865f2 !important;
                }
            }
        }
    }
}

.dash-main {
    min-height: 100vh;
    border-left: 1px solid #ccc;
    padding: 30px 0px 30px 50px;
}
