<header class="header  clearfix">  
    <div class="container-fluid">
      <div class="main_logo" id="logo">
      <a href="index.html"><img src="assets/images/logo.svg" alt=""></a>
      <a href="index.html"><img class="logo-inverse" src="assets/images/ct_logo.svg" alt=""></a>
      </div>
     
      <div class="header_right">
      <ul>
        <li>
          <a [routerLink]="['/admin/course/new']" class="btn  btn-outline-primary" target="_blank">Create New Course</a>
      
      </li>
      <li>
          <div class="dropdown">
              <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                <span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>
                <span class="ml-2 d-none d-lg-block">
                  <span class="text-default">Jane Pearson</span>
                  <small class="text-muted d-block mt-1">Administrator</small>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                  <a class="dropdown-item" [routerLink]="['/user']">
                      <i class="dropdown-icon fe fe-user"></i> Profile
                    </a>
                    <a class="dropdown-item" [routerLink]="['/user/setting']">
                      <i class="dropdown-icon fe fe-settings"></i> Settings
                    </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="dropdown-icon fe fe-help-circle"></i> Need help?
                </a>
                <a class="dropdown-item" (click)="logout()">
                  <i class="dropdown-icon fe fe-log-out"></i> Sign out
                </a>
              </div>
            </div>
      </li>
  </ul>


    
      
      </div>
    </div>
</header>
<nav class="vertical-nav ">
        <div class="menu-left" id="js-menu">
        <div class="menu-top">
            <div class="list-group list-group-transparent mb-0">
                <a [routerLink]="['/admin']" class="list-group-item list-group-item-action {{page == 'dashboard' ? 'active' : '' }}"><span class="icon mr-3"><i class="fe fe-grid"></i></span>Dashboard</a>
                <a [routerLink]="['/admin/categories']" class="list-group-item list-group-item-action {{page == 'categories' ? 'active' : '' }}"><span class="icon mr-3"><i class="fe fe-list"></i></span>Categories</a>
                <a [routerLink]="['/admin/course']" class="list-group-item list-group-item-action {{page == 'courses' ? 'active' : '' }}"><span class="icon mr-3"><i class="fe fe-book"></i></span>Courses</a>
                <a [routerLink]="['/admin/analytics']" class="list-group-item list-group-item-action {{page == 'analytics' ? 'active' : '' }}"><span class="icon mr-3"><i class="fe fe-trending-up"></i></span>Analyics</a>
                <a [routerLink]="['/admin/course/new']" class="list-group-item list-group-item-action {{page == '' ? 'active' : '' }}"><span class="icon mr-3"><i class="fe fe-plus-square"></i></span>Create Course</a>
                <a [routerLink]="['/admin/earnings']" class="list-group-item list-group-item-action {{page == 'earnings' ? 'active' : '' }}"><span class="icon mr-3"><i class="fe fe-dollar-sign"></i></span>Earning</a>
                <a [routerLink]="['/admin/users']" class="list-group-item list-group-item-action {{page == 'users' ? 'active' : '' }}"><span class="icon mr-3"><i class="fe fe-users"></i></span>Users</a>  
              </div>
        </div>
        <div class="menu-bottom ">
            <div class="list-group list-group-transparent mb-0">
                <a [routerLink]="['/user/setting']" class="list-group-item list-group-item-action" title="Setting"><span class="icon mr-3"><i class='fe fe-settings'></i></span>Setting</a>
                <a [routerLink]="['/user']" class="list-group-item list-group-item-action" title="Send Feedback"><span class="icon mr-3"><i class='fe fe-user'></i></span>Profile</a>
            </div>
        </div>
        </div>
</nav>
