<header class="header clearfix">
  <div class="container-fluid">
    <div class="main_logo" id="logo">
    <a href="index.html"><img src="assets/images/logo_white.svg" alt=""></a>
    <a href="index.html"><img class="logo-inverse" src="assets/images/ct_logo.svg" alt=""></a>
    </div>

    <div class="search120">
    <div class="ui search">
      <form class="input-icon my-3 my-lg-0">
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="button" style="height: 33.25px;" class="btn btn-secondary dropdown-toggle" (click)="toggleMenu()">
            Categories
          </button>
        
        </div>
        
        <input type="search" class="form-control header-search" placeholder="Search…" tabindex="1">
            <div class="input-icon-addon">
              <i class="fe fe-search"></i>
            </div>
       
      </div>
      </form>

        
            
        
    </div>
    </div>


    <nav class="main_nav_contaner">
      <ul class="main_nav">
      <li class="active"><a [routerLink]="['/leaner/home']">All Courses</a></li>
      <li><a [routerLink]="['/leaner/home/mycourses']">My courses</a></li>
      </ul>
      </nav>


    <div class="header_right">
    <ul>
   
    <li>
    <a href="shopping_cart.html" class="option_links" title="cart"><i class='fe fe-shopping-cart'></i><span class="noti_count">2</span></a>
    </li>
    <li class="ui dropdown">
    <a  class="option_links" title="Notifications"><i class='fe fe-bell'></i><span class="noti_count">3</span></a>
    <div class="menu dropdown_mn">
    <a  class="channel_my item">
    <div class="profile_link">
    <img src="assets/images/left-imgs/img-1.jpg" alt="">
    <div class="pd_content">
    <h6>Rock William</h6>
    <p>Like Your Comment On Video <strong>How to create sidebar menu</strong>.</p>
    <span class="nm_time">2 min ago</span>
    </div>
    </div>
    </a>
    <a  class="channel_my item">
    <div class="profile_link">
    <img src="assets/images/left-imgs/img-2.jpg" alt="">
    <div class="pd_content">
    <h6>Jassica Smith</h6>
    <p>Added New Review In Video <strong>Full Stack PHP Developer</strong>.</p>
    <span class="nm_time">12 min ago</span>
    </div>
    </div>
    </a>
    <a  class="channel_my item">
    <div class="profile_link">
    <img src="assets/images/left-imgs/img-9.jpg" alt="">
    <div class="pd_content">
    <p> Your Membership Approved <strong>Upload Video</strong>.</p>
    <span class="nm_time">20 min ago</span>
    </div>
    </div>
    </a>
    <a class="vbm_btn" href="instructor_notifications.html">View All <i class='uil uil-arrow-right'></i></a>
    </div>
    </li>
    <li class="ui dropdown pr-5">
        
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
              <span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>
              <span class="ml-2 d-none d-lg-block">
                <span class="text-default">Jane Pearson</span>
                <small class="text-muted d-block mt-1">Administrator</small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" [routerLink]="['/user']">
                <i class="dropdown-icon fe fe-user"></i> Profile
              </a>
              <a class="dropdown-item" [routerLink]="['/user/setting']">
                <i class="dropdown-icon fe fe-settings"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-help-circle"></i> Need help?
              </a>
              <a class="dropdown-item" (click)="logout()">
                <i class="dropdown-icon fe fe-log-out"></i> Sign out
              </a>
            </div>
       
    </li>
    </ul>
    </div>
  </div>
</header>

<div class="full-menu" *ngIf="menuVisible">
  <span class="fe fe-x close" (click)="toggleMenu()"></span>
  <div class="container">
  
    <div class=" row" >
      <div class="dropdown-column col-md-3 mb-2 mb-lg-0">
        <h5 class="dropdown-header">Blog</h5>
        <a class="dropdown-item" href="blog-grid-rs.html">Grid Right Sidebar</a><a class="dropdown-item" href="blog-grid-ls.html">Grid Left Sidebar</a><a class="dropdown-item" href="blog-grid-ns.html">Grid No Sidebar</a><a class="dropdown-item" href="blog-list-rs.html">List Right Sidebar</a><a class="dropdown-item" href="blog-list-ls.html">List Left Sidebar</a><a class="dropdown-item" href="blog-list-ns.html">List No Sidebar</a><a class="dropdown-item" href="blog-single-rs.html">Single Post Right Sidebar</a><a class="dropdown-item" href="blog-single-ls.html">Single Post Left Sidebar</a><a class="dropdown-item" href="blog-single-ns.html">Single Post No Sidebar</a>
      </div>
      <div class="dropdown-column col-md-3 mb-2 mb-lg-0">
        <h5 class="dropdown-header">Portfolio</h5><a class="dropdown-item" href="portfolio-style-1.html">Grid Style 1</a><a class="dropdown-item" href="portfolio-style-2.html">Grid Style 2</a><a class="dropdown-item" href="portfolio-style-3.html">Grid Style 3</a><a class="dropdown-item" href="portfolio-single-side-gallery-grid.html">Project Side Gallery (Grid)</a><a class="dropdown-item" href="portfolio-single-side-gallery-list.html">Project Side Gallery (List)</a><a class="dropdown-item" href="portfolio-single-carousel.html">Project Carousel</a><a class="dropdown-item" href="portfolio-single-wide-gallery.html">Project Wide Gallery</a>
      </div>
      <div class="dropdown-column col-md-3 mb-2 mb-lg-0">
        <h5 class="dropdown-header">Shop</h5><a class="dropdown-item" href="shop-ls.html">Grid Left Sidebar</a><a class="dropdown-item" href="shop-rs.html">Grid Right Sidebar</a><a class="dropdown-item" href="shop-ns.html">Grid No Sidebar</a><a class="dropdown-item" href="shop-single.html">Single Product</a><a class="dropdown-item" href="checkout.html">Cart &amp; Checkout</a><a class="dropdown-item" href="order-tracking.html">Order Tracking</a>
      </div>
      <div class="dropdown-column col-md-3 mb-2 mb-lg-0">
        <h5 class="dropdown-header">Shop</h5><a class="dropdown-item" href="shop-ls.html">Grid Left Sidebar</a><a class="dropdown-item" href="shop-rs.html">Grid Right Sidebar</a><a class="dropdown-item" href="shop-ns.html">Grid No Sidebar</a><a class="dropdown-item" href="shop-single.html">Single Product</a><a class="dropdown-item" href="checkout.html">Cart &amp; Checkout</a><a class="dropdown-item" href="order-tracking.html">Order Tracking</a>
      </div>
    </div>
  
  </div>
</div>
