<header class="header clearfix">
    <div class="main_logo" id="logo">
    <a href="index.html"><img src="assets/images/logo.svg" alt=""></a>
    <a href="index.html"><img class="logo-inverse" src="assets/images/ct_logo.svg" alt=""></a>
    </div>
    <div class="top-category">
    <div class="ui compact menu cate-dpdwn">
    <div class="ui simple dropdown item">
    <a  class="option_links p-0" title="categories"><i class="uil uil-apps"></i></a>
    <div class="menu dropdown_category5">
    <a  class="item channel_item">Development</a>
    <a  class="item channel_item">Business</a>
    <a  class="item channel_item">Finance & Accounting</a>
    <a  class="item channel_item">IT & Software</a>
    <a  class="item channel_item">Office Productivity</a>
    <a  class="item channel_item">Personal Development</a>
    <a  class="item channel_item">Design</a>
    <a  class="item channel_item">Marketing</a>
    <a  class="item channel_item">Lifestyle</a>
    <a  class="item channel_item">Photography</a>
    <a  class="item channel_item">Health & Fitness</a>
    <a  class="item channel_item">Music</a>
    <a  class="item channel_item">Teaching & Academics</a>
    </div>
    </div>
    </div>
    </div>
    <div class="search120">
    <div class="ui search">
        <form class="input-icon my-3 my-lg-0">
            <input type="search" class="form-control header-search" placeholder="Search…" tabindex="1">
            <div class="input-icon-addon">
              <i class="fe fe-search"></i>
            </div>
          </form>
    </div>
    </div>
    <div class="header_right">
    <ul>
   
    <li>
    <a href="shopping_cart.html" class="option_links" title="cart"><i class='uil uil-shopping-cart-alt'></i><span class="noti_count">2</span></a>
    </li>
    <li class="ui dropdown">
    <a  class="option_links" title="Notifications"><i class='uil uil-bell'></i><span class="noti_count">3</span></a>
    <div class="menu dropdown_mn">
    <a  class="channel_my item">
    <div class="profile_link">
    <img src="assets/images/left-imgs/img-1.jpg" alt="">
    <div class="pd_content">
    <h6>Rock William</h6>
    <p>Like Your Comment On Video <strong>How to create sidebar menu</strong>.</p>
    <span class="nm_time">2 min ago</span>
    </div>
    </div>
    </a>
    <a  class="channel_my item">
    <div class="profile_link">
    <img src="assets/images/left-imgs/img-2.jpg" alt="">
    <div class="pd_content">
    <h6>Jassica Smith</h6>
    <p>Added New Review In Video <strong>Full Stack PHP Developer</strong>.</p>
    <span class="nm_time">12 min ago</span>
    </div>
    </div>
    </a>
    <a  class="channel_my item">
    <div class="profile_link">
    <img src="assets/images/left-imgs/img-9.jpg" alt="">
    <div class="pd_content">
    <p> Your Membership Approved <strong>Upload Video</strong>.</p>
    <span class="nm_time">20 min ago</span>
    </div>
    </div>
    </a>
    <a class="vbm_btn" href="instructor_notifications.html">View All <i class='uil uil-arrow-right'></i></a>
    </div>
    </li>
    <li class="ui dropdown pr-5">
        
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
              <span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>
              <span class="ml-2 d-none d-lg-block">
                <span class="text-default">Jane Pearson</span>
                <small class="text-muted d-block mt-1">Administrator</small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-user"></i> Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-settings"></i> Settings
              </a>
              <a class="dropdown-item" href="#">
                <span class="float-right"><span class="badge badge-primary">6</span></span>
                <i class="dropdown-icon fe fe-mail"></i> Inbox
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-send"></i> Message
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-help-circle"></i> Need help?
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-log-out"></i> Sign out
              </a>
            </div>
       
    </li>
    </ul>
    </div>
</header>
