.main_logo{
    margin-top: 5px;
}

.full-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
    position: fixed;
    top: 61px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    z-index: 3;

    .container {
        .row{
            .dropdown-column {
                .dropdown-header{
                    -webkit-font-smoothing: antialiased !important;
                    -moz-osx-font-smoothing: grayscale !important;
                    font-weight: 700 !important;
                    font-size: 14px !important;
                    line-height: 18px !important;
                    letter-spacing: 0.6px !important;
                    text-transform: uppercase !important;
                    margin-bottom: 10px !important;
                    margin-top: 20px !important;
                    color: #0a2a66;
                }
                .dropdown-item {
                    -webkit-font-smoothing: antialiased !important;
                    -moz-osx-font-smoothing: grayscale !important;
                    font-weight: 700 !important;
                    font-size: 13px !important;
                    line-height: 17px !important;
                    letter-spacing: 0.6px !important;
                    margin-bottom: 0px !important;
                    color: #2980b9;
                    margin-bottom: 5px !important;
                }
            }
        }
    }
}

.full-menu .close{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
}