<div style="margin-bottom: 100vh;"></div>
<div class="lesson-page">
<div class="lesson-header">
    <div class="container">
        <span class="subtitle">Get Ready For Algebra</span>
        <h1>Unit: Get ready for equations & inequalities</h1>
    </div>
</div>
<div class="lesson-body">
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
       
                            <ul class="videos-list ">
                                <li class="done"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li class="done"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li class="done"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li class="done"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li class="active"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Video two</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Another one</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Video two</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Another one</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Video two</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Another one</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Video two</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Another one</li>
                            </ul>
        </div>
    </div>
</div>
</div>
