<div class="sign_form">
    <div class="main-tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
    <a href="sign_up_steps.html#instructor-signup-tab" id="instructor-tab" class="nav-link active" data-toggle="tab">Instructor Sign Up</a>
    </li>
    <li class="nav-item">
    <a href="sign_up_steps.html#student-signup-tab" id="student-tab" class="nav-link" data-toggle="tab">Student Sign Up</a>
    </li>
    </ul>
    </div>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="instructor-signup-tab" role="tabpanel" aria-labelledby="instructor-tab">
    <p>Sign Up and Create Course!</p>
    <form>
    <div class="ui hj145 dropdown cntry152 prompt srch_explore selection" tabindex="0"><select>
    <option value="">Select Category</option>
    <option value="1">Development</option>
    <option value="2">Business</option>
    <option value="3">Finance &amp; Accounting</option>
    <option value="4">IT &amp; Software</option>
    <option value="5">Office Productivity</option>
    <option value="6">Personal Development</option>
    <option value="7">Design</option>
    <option value="8">Marketing</option>
    <option value="9">Lifestyle</option>
    <option value="10">Photography</option>
    <option value="11">Health &amp; Fitness</option>
    <option value="12">Music</option>
    <option value="13">Teaching &amp; Academics</option>
    </select><i class="dropdown icon"></i><div class="default text">Select Category</div><div class="menu" tabindex="-1"><div class="item" data-value="1">Development</div><div class="item" data-value="2">Business</div><div class="item" data-value="3">Finance &amp; Accounting</div><div class="item" data-value="4">IT &amp; Software</div><div class="item" data-value="5">Office Productivity</div><div class="item" data-value="6">Personal Development</div><div class="item" data-value="7">Design</div><div class="item" data-value="8">Marketing</div><div class="item" data-value="9">Lifestyle</div><div class="item" data-value="10">Photography</div><div class="item" data-value="11">Health &amp; Fitness</div><div class="item" data-value="12">Music</div><div class="item" data-value="13">Teaching &amp; Academics</div></div></div>
    <div class="ui search focus mt-15">
    <div class="ui form swdh30">
    <div class="field">
    <textarea rows="3" name="description" id="id_about" placeholder="Write a little description about you..."></textarea>
    </div>
    </div>
    <div class="help-block">Your biography should have at least 12000 characters.</div>
    </div>
    <button class="login-btn" type="submit">Instructor Sign Up Now</button>
    </form>
    </div>
    <div class="tab-pane fade" id="student-signup-tab" role="tabpanel" aria-labelledby="student-tab">
    <p>Sign Up and Start Learning!</p>
    <form>
    <div class="ui search focus mt-15">
    <div class="ui form swdh30">
    <div class="field">
    <textarea rows="3" name="description" id="id_about1" placeholder="Write a little description about you..."></textarea>
    </div>
    </div>
    <div class="help-block">Your biography should have at least 12000 characters.</div>
    </div>
    <button class="login-btn" type="submit">Student Sign Up Now</button>
    </form>
    </div>
    </div>
    <p class="mb-0 mt-30">Already have an account? <a href="sign_in.html">Log In</a></p>
    </div>
