.course-header {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 20px 0px;
    .subtitle{
        font-weight: 700;
        color: #999;
    }
    h1{
        margin-top: 0px;
    }
}

.topic-card {
    border: 1px solid #eee;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
}