<div class="course-header">
    <div class="container">
        <span class="subtitle">Get Ready For Algebra</span>
        <h1>Unit: Get ready for equations & inequalities</h1>
    </div>
</div>
<div class="course-body">
    <div class="container">
        <div class="row">
        <div class="col-md-9">  
            <div class="card topic-card ">
                <div class="card-header">
                    <h3 class="card-title">Development Activity</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 lesson-side">
                            <h6 class="title">Learn</h6>
                            <ul class="videos-list ">
                                <li class="done"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Video two</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Another one</li>
                            </ul>
                        </div>
                        <div class="col-md-6 practice-side">
                            <h6 class="title">Practice</h6>

                            <div class="pratice-div mb-2">
                                <h6>Understand equal groups as multiplication</h6>
                                <p>Get 5 of 7 questions to level up!</p>
                                <button class="btn btn-primary">Practice</button>
                                <div class="score">

                                </div>
                            </div>

                            <div class="pratice-div mb-2">
                                <h6>Understand equal groups as multiplication</h6>
                                <p>Get 5 of 7 questions to level up!</p>
                                <button class="btn btn-primary">Practice</button>
                                <div class="score">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card topic-card ">
                <div class="card-header">
                    <h3 class="card-title">Development Activity</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 lesson-side">
                            <h6 class="title">Learn</h6>
                            <ul class="videos-list ">
                                <li class="done"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li class="done"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li class="done"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li class="done"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li class="active"><div class="video-icon"><span class="fe fe-play"></span></div>Video one</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Video two</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Another one</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Video two</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Another one</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Video two</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Another one</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Video two</li>
                                <li><div class="video-icon"><span class="fe fe-play"></span></div>Another one</li>
                            </ul>
                        </div>
                        <div class="col-md-6 practice-side">
                            <h6 class="title">Practice</h6>

                            <div class="pratice-div mb-2 done">
                                <h6>Understand equal groups as multiplication</h6>
                                <p>Get 5 of 7 questions to level up!</p>
                                <button class="btn btn-outline-primary">Practice</button>
                                <div class="score">
                                    <div class="score-center">
                                        <span class="percentage-number">20%</span>
                                        <div class="percentage-wrap">
                                            <div class="parcentage-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pratice-div mb-2">
                                <h6>Understand equal groups as multiplication</h6>
                                <p>Get 5 of 7 questions to level up!</p>
                                <button class="btn btn-primary">Practice</button>
                                <div class="score">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
         
        </div>
        </div>
    </div>
</div>