<div class="course-header">
    <div class="container">
        <span class="subtitle">Get Ready For Algebra</span>
        <h1>Unit: Get ready for equations & inequalities</h1>
    </div>
</div>
<div class="course-body">
    <div class="container">
        <div class="row">
        
        <div class="col-md-9">

          
          <div class="topic-card">
        
            
                <h2 class="_v5zh60p">
                <a >Algebraic equations basics</a>
            </h2>
            
            <div class="row">
                <div class="col-md-6">
                <div style="padding-bottom: 21px;">
                <span class="_1q19l6p3">Learn</span>
            </div>
            <div class="_37mhyh">
                <div class="_10ct3cvu">
                <div class="_stw1dyg">
                <a aria-label="" tabindex="0" class="" >
                <div class="_1s8mywu">
                <div class="_1d4mskp">
                <div>
                <span aria-label="started">

            </span>
                <span aria-label="Video" class="_e296pg" style="display: block; width: 24px; height: 24px; font-size: 24px;">
                <svg role="img" aria-hidden="true" class="_1mv4i87" focusable="false" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="#21242c" d="M10.55,7.17l6,4a1,1,0,0,1,0,1.66l-6,4A1,1,0,0,1,9,16V8A1,1,0,0,1,10.55,7.17Zm.45,7L14.2,12,11,9.87Z">

            </path>
            </svg>
                <svg role="img" aria-hidden="true" class="_1mv4i87" focusable="false" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="rgba(33,36,44,0.50)" d="M2,0H22a2,2,0,0,1,2,2V22a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0ZM2,1A1,1,0,0,0,1,2V22a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V2a1,1,0,0,0-1-1Z">

            </path>
            </svg>
                <svg role="img" aria-hidden="true" class="_1tg9rby6" focusable="false" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="#1865f2" d="M0,20H12v4H2a2,2,0,0,1-2-2Z">

            </path>
            </svg>
            </span>
            </div>
            </div>
            </div>
                <div class="_smwbqor">
                <div class="_11igkdh">
                <span class="_14hvi6g8">Variables, expressions, &amp; equations </span>
                <div class="_s217esa">(Opens a modal)</div>
            </div>
            </div>
            </a>
        </div>
        </div>
            <div class="_10ct3cvu">
                <div class="_stw1dyg">
                <a aria-label="" tabindex="0" class="_gl1g2rh" href="/math/get-ready-for-algebra-i/x127ac35e11aba30e:get-ready-for-equations-inequalities/x127ac35e11aba30e:algebraic-equations-basics/v/testing-solutions-to-equation?modal=1">
                <div class="_1s8mywu">
                <div class="_1d4mskp">
                <div>
                <span>

            </span>
                <span aria-label="Video" class="_e296pg" style="display: block; width: 24px; height: 24px; font-size: 24px;">
                <svg role="img" aria-hidden="true" class="_1mv4i87" focusable="false" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="#21242c" d="M10.55,7.17l6,4a1,1,0,0,1,0,1.66l-6,4A1,1,0,0,1,9,16V8A1,1,0,0,1,10.55,7.17Zm.45,7L14.2,12,11,9.87Z">

            </path>
            </svg>
                <svg role="img" aria-hidden="true" class="_1mv4i87" focusable="false" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="rgba(33,36,44,0.50)" d="M2,0H22a2,2,0,0,1,2,2V22a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0ZM2,1A1,1,0,0,0,1,2V22a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V2a1,1,0,0,0-1-1Z">

            </path>
            </svg>
            </span>
            </div>
            </div>
            </div>
                <div class="_smwbqor">
                <div class="_11igkdh">
                <span class="_14hvi6g8">Testing solutions to equations </span>
                <div class="_s217esa">(Opens a modal)</div>
            </div>
            </div>
            </a>
        </div>
        </div>
            <div class="_10ct3cvu">
                <div class="_stw1dyg">
                <a aria-label="" tabindex="0" class="_14jg6rbg" href="/math/get-ready-for-algebra-i/x127ac35e11aba30e:get-ready-for-equations-inequalities/x127ac35e11aba30e:algebraic-equations-basics/a/introduction-to-equations?modal=1">
                <div class="_1s8mywu">
                <div class="_1d4mskp">
                <div>
                <span>

            </span>
                <span aria-label="Article" class="_e296pg" style="display: block; width: 24px; height: 24px; font-size: 24px;">
                <svg role="img" aria-hidden="true" class="_1mv4i87" focusable="false" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="#21242c" d="M15,16V12h2v5a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V7A1,1,0,0,1,8,6h3V8H9v8Zm-1.5-6a.5.5,0,0,1-.5-.5V6l4,4Z">

            </path>
            </svg>
                <svg role="img" aria-hidden="true" class="_1mv4i87" focusable="false" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="rgba(33,36,44,0.50)" d="M2,0H22a2,2,0,0,1,2,2V22a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0ZM2,1A1,1,0,0,0,1,2V22a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V2a1,1,0,0,0-1-1Z">

            </path>
            </svg>
            </span>
            </div>
            </div>
            </div>
                <div class="_smwbqor">
                <div class="_11igkdh">
                <span class="_14hvi6g8">Intro to equations </span>
                <div class="_s217esa">(Opens a modal)</div>
            </div>
            </div>
            </a>
        </div>
        </div>
        </div>
        </div>
           
            <div class="col-md-6">
                <div style="padding-bottom: 12px;">
                <span class="_1q19l6p3">Practice</span>
            </div>
            <div data-test-id="mastery-practice-content-item" class="_16c6bd9">
                <div class="_1odew2or">
                <div class="_xu2jcg">
                <span class="_gab6d99">Up next for you:</span>
                <a class="_dwmetq" href="/math/get-ready-for-algebra-i/x127ac35e11aba30e:get-ready-for-equations-inequalities/x127ac35e11aba30e:algebraic-equations-basics/e/identify-equations--expressions--and-inequalities?modal=1">
                <span class="_pc9bder">Identify equations, expressions, and inequalities</span>
            </a>
                <span class="_4t1yfcf">Get 3 of 4 questions to level up!</span>
            </div>
            <div class="_q1q211b">
                <a class="_dwmetq _1x65ka4" href="/math/get-ready-for-algebra-i/x127ac35e11aba30e:get-ready-for-equations-inequalities/x127ac35e11aba30e:algebraic-equations-basics/e/identify-equations--expressions--and-inequalities?modal=1">
                <button class="_1nl1d2uf" style="color: white; border-color: rgb(24, 101, 242); background-color: rgb(24, 101, 242); min-width: 94px; flex-grow: 0;">
                <div class="_1yok8f4">
                <span class="_g20yn58">Start</span>
            </div>
            </button>
            </a>
        </div>
        </div>
            <div class="_mdh9nb5">
                <div class="_11o66exo">
                <svg aria-label="0 out of 100 Mastery points" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" class="_1s2t3cl" xmlns="http://www.w3.org/2000/svg" width="20" height="35" role="progressbar" title="0 out of 100 Mastery points" viewBox="-3 0 20 37">
                <rect class="_18qxreg" x="0" y="18" width="14" height="14">

            </rect>
                <rect class="_18qxreg" x="0" y="8" width="14" height="8">

            </rect>
                <rect class="_qvo65w" x="0" y="30" width="14" height="2">

            </rect>
                <polygon class="_18qxreg" points="14 0 10.131 3.774 7 0 3.868 3.775 0 0 0 6 14 6">

            </polygon>
            </svg>
            </div>
        </div>
        </div>
            <div data-test-id="mastery-practice-content-item" class="_1c8c7sfc">
                <div class="_1odew2or">
                <div class="_xu2jcg">
                <a class="_dwmetq" href="/math/get-ready-for-algebra-i/x127ac35e11aba30e:get-ready-for-equations-inequalities/x127ac35e11aba30e:algebraic-equations-basics/e/testing-solutions-of-equations-inequalities?modal=1">
                <span class="_pc9bder">Testing solutions to equations</span>
            </a>
                <span class="_4t1yfcf">Get 5 of 7 questions to level up!</span>
            </div>
            <div class="_q1q211b">
                <a class="_dwmetq _1x65ka4" href="/math/get-ready-for-algebra-i/x127ac35e11aba30e:get-ready-for-equations-inequalities/x127ac35e11aba30e:algebraic-equations-basics/e/testing-solutions-of-equations-inequalities?modal=1">
                <button class="_1nl1d2uf" style="color: rgb(24, 101, 242); border-color: rgb(24, 101, 242); background-color: transparent; min-width: 94px; flex-grow: 0;">
                <div class="_1yok8f4">
                <span class="_g20yn58">Practice</span>
            </div>
            </button>
            </a>
        </div>
        </div>
            <div class="_mdh9nb5">
                <div class="_11o66exo">
                <svg aria-label="0 out of 100 Mastery points" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" class="_1s2t3cl" xmlns="http://www.w3.org/2000/svg" width="20" height="35" role="progressbar" title="0 out of 100 Mastery points" viewBox="-3 0 20 37">
                <rect class="_18qxreg" x="0" y="18" width="14" height="14">

            </rect>
                <rect class="_18qxreg" x="0" y="8" width="14" height="8">

            </rect>
                <rect class="_qvo65w" x="0" y="30" width="14" height="2">

            </rect>
                <polygon class="_18qxreg" points="14 0 10.131 3.774 7 0 3.868 3.775 0 0 0 6 14 6">

            </polygon>
            </svg>
            </div>
        </div>
        </div>
        </div>
            </div>
      
        </div>  
       
        </div>
        <div class="col-md-3">
            <div >
            <div >
            
               
                <h4 >
                <span>50</span> / 3,700<span> (1% Mastered)</span>
                </h4>
         
        
                <span class="_w68pn83">Mastery points</span>
    
            </div>
            <nav aria-labelledby="mastery-topic-sidebar-title" role="navigation" class="_sv7jbf" data-test-id="mastery-topic-sidebar">
                <div>
                <ul>
                <li>
                <a  >
                <span >Basic addition and subtraction</span>
                <span >
                <div >
                <app-score-illustration></app-score-illustration>
                <app-score-illustration></app-score-illustration>
                </div>
                </span>
                </a>
            </li>
            <li>
                <a  >
                <span >Addition within 20</span>
                <span >
                <div >
                <app-score-illustration></app-score-illustration>
                </div>
                </span>
                </a>
            </li>

</ul>
</div>

            </nav>
            </div>
        </div>
        </div>
    </div>
</div>