
            <div class="row">

                <div class="col-md-3 lesson-tile">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="img-div">
                            <img src="" alt="">
                            </div>
                            <div class="p-4">
                            <h4 class="card-title">Addition and substraction within 20</h4>
                            <div class="card-subtitle">Dr Thomas Kidumbuyo</div>
                            <div class="mt-3">
                                <div class="row">
                                <div class="col-md-auto">
                                <div class="product-price">
                                  <strong>$499</strong>
                                </div>
                                </div>
                                <div class="col pt-2" style="text-align: right;">
                                    <span class="icon fe fe-users mr-1"></span>
                                    <span class="mr-3">1,000</span>
                                    <span class="icon fe fe-star mr-1"></span>
                                    <span>4.1</span>
                                </div>
                                </div>
                              
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 lesson-tile">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="img-div">
                            <img src="" alt="">
                            </div>
                            <div class="p-4">
                            <h4 class="card-title">Addition and substraction within 20</h4>
                            <div class="card-subtitle">Dr Thomas Kidumbuyo</div>
                            <div class="mt-3">
                                <div class="row">
                                <div class="col-md-auto">
                                <div class="product-price">
                                  <strong>$499</strong>
                                </div>
                                </div>
                                <div class="col pt-2" style="text-align: right;">
                                    <span class="icon fe fe-users mr-1"></span>
                                    <span class="mr-3">1,000</span>
                                    <span class="icon fe fe-star mr-1"></span>
                                    <span>4.1</span>
                                </div>
                                </div>
                              
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 lesson-tile">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="img-div">
                            <img src="" alt="">
                            </div>
                            <div class="p-4">
                            <h4 class="card-title">Addition and substraction within 20</h4>
                            <div class="card-subtitle">Dr Thomas Kidumbuyo</div>
                            <div class="mt-3">
                                <div class="row">
                                <div class="col-md-auto">
                                <div class="product-price">
                                  <strong>$499</strong>
                                </div>
                                </div>
                                <div class="col pt-2" style="text-align: right;">
                                    <span class="icon fe fe-users mr-1"></span>
                                    <span class="mr-3">1,000</span>
                                    <span class="icon fe fe-star mr-1"></span>
                                    <span>4.1</span>
                                </div>
                                </div>
                              
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 lesson-tile">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="img-div">
                            <img src="" alt="">
                            </div>
                            <div class="p-4">
                            <h4 class="card-title">Addition and substraction within 20</h4>
                            <div class="card-subtitle">Dr Thomas Kidumbuyo</div>
                            <div class="mt-3">
                                <div class="row">
                                <div class="col-md-auto">
                                <div class="product-price">
                                  <strong>$499</strong>
                                </div>
                                </div>
                                <div class="col pt-2" style="text-align: right;">
                                    <span class="icon fe fe-users mr-1"></span>
                                    <span class="mr-3">1,000</span>
                                    <span class="icon fe fe-star mr-1"></span>
                                    <span>4.1</span>
                                </div>
                                </div>
                              
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 lesson-tile">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="img-div">
                            <img src="" alt="">
                            </div>
                            <div class="p-4">
                            <h4 class="card-title">Addition and substraction within 20</h4>
                            <div class="card-subtitle">Dr Thomas Kidumbuyo</div>
                            <div class="mt-3">
                                <div class="row">
                                <div class="col-md-auto">
                                <div class="product-price">
                                  <strong>$499</strong>
                                </div>
                                </div>
                                <div class="col pt-2" style="text-align: right;">
                                    <span class="icon fe fe-users mr-1"></span>
                                    <span class="mr-3">1,000</span>
                                    <span class="icon fe fe-star mr-1"></span>
                                    <span>4.1</span>
                                </div>
                                </div>
                              
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
