<div class="card" >
    <div class="card-body">
    <h4>Your Iqualify Account</h4>
    <p>This is your public presence on Iqualify. You need a account to upload your paid courses, comment on courses, purchased by students, or earning.</p>
    <div class="basic_profile">
    <div class="basic_ptitle">
    <h6>Basic Profile</h6>
    </div>
    <div class="basic_form">
        <div class="form-group">
    <label >Full name</label>
    <div class="row">
    
    <div class="col-md-6">
        <div class="input-icon">
            <span class="input-icon-addon">
              <i class="fe fe-user"></i>
            </span>
            <input type="text" class="form-control" placeholder="first name">
          </div>
    </div>
    <div class="col-md-6">
      
            <input type="text" class="form-control" placeholder="last name">
          
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    <div class="form-group">
    <label for="">Profession</label>
    <input type="text" class="form-control">
    <div class="help-block">Add a professional headline like, "Engineer at Iqualify" or "Architect."</div>
    </div>
    </div>
    <div class="col-lg-12">
    <div class="form-group"> 
    <label for="">Description</label>
    <textarea rows="3" name="description" id="id_about" class="form-control" placeholder="Write a little description about you..."></textarea>

    <div class="help-block">Links and coupon codes are not permitted in this section.</div>
    </div>
    </div>
    <div class="col-lg-12">
    <div class="divider-1"></div>
    </div>
    </div>
 
    </div>
    </div>
    <div class="basic_profile1">
    <div class="basic_ptitle">
    <h6>Profile Links</h6>
    </div>
    <div class="basic_form">
 
    <div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label >Your website</label>
            <div class="input-group">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">https://</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>
  
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label >Your facebook URL</label>
            <div class="input-group">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">http://facebook.com/</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>

    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label >Your twitter URL</label>
            <div class="input-group">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">http://twitter.com/</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>
 
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label >Your linkedin URL</label>
            <div class="input-group">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">http://www.linkedin.com/</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>

    </div>
   
    </div>
 
    </div>
    </div>
    </div>
    <div class="card-footer">
    <button class="btn btn-primary" type="submit">Save Changes</button>
    </div>
    </div>
